<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="amasty" translate="label" sortOrder="10">
            <label>Amasty</label>
        </tab>
        <section id="feedback" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Feedback</label>
            <tab>amasty</tab>
            <resource>Ravkovich_Feedback::feedback_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="frontend_url" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Frontend URL</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
            </group>
        </section>
        <section id="discounts" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Discounts</label>
            <tab>amasty</tab>
            <resource>Ravkovich_Feedback::feedback_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Wholesale buyer</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disct" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1"
                       canRestore="1">
                    <label>Additional discounts</label>
                    <frontend_model>Ravkovich\Feedback\Block\Adminhtml\Form\Field\DiscontsAdd</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
        <section id="stock" translate="label" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Stock</label>
        <tab>amasty</tab>
        <resource>Ravkovich_Feedback::feedback_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
            <label>Stock (product free)</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="prod" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1"
                       canRestore="1">
                    <label>Product SKU</label>
                    <frontend_model>Ravkovich\Feedback\Block\Adminhtml\Form\Field\ProductList</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="stock_free" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1"
                       canRestore="1">
                    <label>Stock SKU</label>
                    <frontend_model>Ravkovich\Feedback\Block\Adminhtml\Form\Field\StockList</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>

            </group>
        </section>
    </system>
</config>